/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align:middle;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.mentee_mypage_certificate_title_container {
   display: flex;
   justify-content: center;
   width:100%;
}

.mentee_mypage_certificate_title_wraper {
   width:80%;
   height: auto;
   margin-bottom: 100px;
   margin-top: 120px;
   display: flex;
   flex-direction:column;
   align-items: center;
}
.mentee_mypage_certificate_title_title{
	font-size:48px;
}

.mentee_mypage_certificate_title_subtitle{
	margin-top:20px;
	font-size:20px;
	color: #6B7280;
}

.mentee_mypage_coupon_body{
	display: flex;
    width: 100%;
    justify-content: center;
    min-height: 90vh;
}

.metee_mypage_certificate_main_wraper{
	width: 1190px;
    background: #FFFFFF;
    padding: 20px 8px 8px 8px;
    border-radius: 15px;
    box-shadow: 2px 8px 12px 0 rgb(20 20 20 / 2%);
    margin-left: 3px;
    display: flex;
    flex-direction: column;
}

.certificate_btn_box{
	display: flex;
    justify-content: flex-end;
    width: 94%;
    align-items: center;
    margin-top: 70px;
}

.metee_mypage_certificate_text_box{
	display: flex;
    flex-direction: column;
    font-size: 19px;
    line-height: 1.4;
}

.metee_mypage_certificate_text_box span{
	margin-top: 10px;
    color: #808080;
}

#certificate_onoff{
	margin-left:10px;
}